/* color palette from <https://github.com/vuejs/theme> */
:root {
  --my-1th-color: #ffffff;
  --my-2th-color: #0d1321;
  --my-3th-color: #1d2d44;
  --my-4th-color: #3c678d;
  --my-5th-color: #748cab;
  --my-6th-color: #949494;

  --my-border-color: #81818179;

  --my-dark-1th-color: #252525;
  --my-dark-2th-color: #e6e6e6;
  --my-border-radius: 0.5em;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.color-1 {
  color: var(--my-1th-color) !important;
}

.color-2 {
  color: var(--my-2th-color) !important;
}

.color-3 {
  color: var(--my-3th-color) !important;
}
.color-6 {
  color: var(--my-6th-color) !important;
}

.bg-color-1 {
  background-color: var(--my-1th-color) !important;
}

.bg-color-2 {
  background-color: var(--my-2th-color) !important;
}

.bg-color-3 {
  background-color: var(--my-3th-color) !important;
}
.bg-color-4 {
  background-color: var(--my-4th-color) !important;
}
.bg-color-5 {
  background-color: var(--my-5th-color) !important;
}
.bg-color-6 {
  background-color: var(--my-6th-color) !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;

  font-size: 0.9rem !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.modal {
  background: rgba(0, 0, 0, 0.5) !important;
}
.modal-content {
  border-radius: var(--my-border-radius) !important;
}
.modal-header{
  border-bottom: 1px solid var(--my-border-color) !important;
}
.modal-footer{
  border-top: 1px solid var(--my-border-color) !important;
}

.card{
  border-color: var(--my-border-color) !important;
}

.btn {
  font-size: 0.9rem !important;
  border-radius: 100rem !important;
}
.input-group > :not(:first-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-group > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.modal-backdrop {
  display: none !important;
}

.title-text {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

table {
  border-collapse: separate !important;
  border-spacing: 0 !important;

  background-color: transparent !important;
}

tr:first-child th:first-child {
  border-top-left-radius: var(--my-border-radius) !important;
}

tr:first-child th:last-child {
  border-top-right-radius: var(--my-border-radius) !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: var(--my-border-radius) !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: var(--my-border-radius) !important;
}

.vtl-tablec,
.vtl-thead,
.vtl-thead-th {
  background-color: var(--my-3th-color) !important;
}

.vtl-table thead th {
}
.vtl-card {
  background-color: transparent !important;
}

.vtl-paging-change-div,
.vtl-paging-info {
  align-self: center;
}

td,
th {
  border: 1px solid var(--my-border-color) !important;
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.my-table td, .my-table th{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.my-table th{
  background-color: var(--my-3th-color);
  color: var(--my-1th-color);
}

td:not(td:first-child),
th:not(th:first-child) {
  border-left: none !important;
}
td {
  border-top: none !important;
}
.toast {
  background-color: white !important;
  border-radius: var(--my-border-radius) !important;
  overflow: hidden;
}
.toast-header {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.card {
  border-radius: var(--my-border-radius) !important;
}
.form-control-sm,
.form-control,
.input-group-text,
.form-select {
  border-radius: var(--my-border-radius) !important;
}
.input-search {
  border-top-left-radius: 100rem !important;
  border-bottom-left-radius: 100rem !important;
}

.vtl-tbody-tr {
  transition: 0.3s !important;
}
.accordion-item {
  background: transparent !important;
}
.card {
  background-color: transparent !important;
}
.input-group-text {
  background-color: transparent !important;
}
.page-link {
  background-color: transparent !important;
}
.form-control,
.form-select,
.input-group-text {
  border: var(--bs-border-width) solid var(--my-border-color) !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-select.is-invalid,
.was-validated .form-select:invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
}
.form-control.is-valid,
.was-validated .form-control:valid,
.form-select.is-valid,
.was-validated .form-select:valid {
  border-color: var(--bs-form-valid-border-color) !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--my-6th-color) !important;
  opacity: 1; /* Firefox */
}
/*DARK MODE*/

.dark-mode .pagination-sm {
  --bs-pagination-font-size: 0.9rem !important;
  --bs-pagination-color: var(--my-dark-2th-color) !important;

  /*--bs-pagination-hover-border-color: var(--my-3th-color) !important;*/
}
.dark-mode .vtl-table {
  color: var(--my-dark-2th-color) !important;
}

.dark-mode .modal-body,
.dark-mode .modal-footer {
  background-color: var(--my-dark-1th-color) !important;
}
.dark-mode .form-control,
.dark-mode .form-select {
  background-color: transparent !important;
  color: var(--my-dark-2th-color) !important;
}
.dark-mode .form-control:disabled,
.dark-mode .form-select:disabled,
.dark-mode .form-control-disabled {
  background-color: rgb(68, 68, 68) !important;
}

.dark-mode {
  background-color: var(--my-dark-1th-color) !important;
  color: var(--my-dark-2th-color) !important;
}
.dark-mode .accordion-button,
.dark-mode .accordion-body,
.dark-mode .accordion-body a {
  color: var(--my-dark-2th-color) !important;
}

.dark-mode .card {
  color: var(--my-dark-2th-color) !important;
}
.dark-mode .input-group-text {
  color: var(--my-dark-2th-color) !important;
}
