/* color palette from <https://github.com/vuejs/theme> */
:root {
    --my-1th-color: #ffffff;
    --my-7th-color: #ffffff;
    --my-2th-color: #0D1321;
    --my-6th-color: #1D2D44;
    --my-4th-color: #3c678d;
    --my-5th-color: #748CAB;
    --my-3th-color: #1D2D44;
    --my-border-radius: 0.5em;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

.color-1 {
    color: var(--my-1th-color) !important;
}

.color-2 {
    color: var(--my-2th-color) !important;
}

.color-3 {
    color: var(--my-3th-color) !important;
}

.bg-color-1 {
    background-color: var(--my-1th-color) !important;
}

.bg-color-2 {
    background-color: var(--my-2th-color) !important;
}

.bg-color-3 {
    background-color: var(--my-3th-color) !important;
}
.bg-color-4 {
    background-color: var(--my-4th-color) !important;
}
.bg-color-5 {
    background-color: var(--my-5th-color) !important;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal {
    background: rgba(0, 0, 0, 0.5) !important;

    
}
.modal-content{
    border-radius: var(--my-border-radius) !important;

}

.btn {
    font-size: 0.9rem !important;
    border-radius: 100rem !important;
  
}
.input-group>:not(:first-child):not(.dropdown-toggle):not(.dropdown-menu){
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.input-group>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.modal-backdrop {
    display: none !important;
}

.title-text {
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-radius: var(--my-border-radius) !important;

}


tr:first-child th:first-child {
    border-top-left-radius: var(--my-border-radius) !important;
}

tr:first-child th:last-child {
    border-top-right-radius: var(--my-border-radius) !important;
}

tr:last-child td:first-child {
    border-bottom-left-radius: var(--my-border-radius) !important;
}

tr:last-child td:last-child {
    border-bottom-right-radius: var(--my-border-radius) !important;
}

.vtl-tablec,
.vtl-thead,
.vtl-thead-th {
 
    background-color: var(--my-3th-color) !important;
}

.vtl-table thead th{
    border-bottom: 1px solid #dee2e6 !important
}

.vtl-paging-change-div,
.vtl-paging-info {
    align-self: center;
}

td, th{
    border-color: rgba(0, 0, 0, 0.144) !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

.toast{
    background-color: white !important;  
    border-radius: var(--my-border-radius) !important;
    overflow: hidden;
}
.toast-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card {
    border-radius: var(--my-border-radius) !important;
}
.form-control-sm, .input-group-text{
    border-radius: var(--my-border-radius) !important;
}
.vtl-tbody-tr{
    transition: 0.3s !important;
}