@import "./base.css";

#app {
  height: 100vh;
}
.vtl-table {
  margin-bottom: 0rem !important;
}
.vtl-paging-change-div,
.vtl-paging-info {
  visibility: hidden;
}
.vtl-asc{
  /*fix for id arrows in table*/
  background-image: none !important;
}
.item-select {
  white-space: normal !important;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--my-3th-color) !important;
  border-color: var(--my-3th-color) !important;
}
.btn-primary-outline {
  color: var(--my-1th-color) !important;

  border-color: var(--my-border-color) !important;
}
.btn-primary-outline:hover {
  border-color: var(--my-3th-color) !important;
  background-color: var(--my-3th-color) !important;
}

.btn-secondary-outline {
  color: var(--my-1th-color) !important;
  border-color: var(--my-border-color) !important;
}
.btn-secondary-outline:hover {
  border-color: var(--my-4th-color) !important;
  background-color: var(--my-4th-color) !important;
}

.btn-secondary {
  background-color: var(--my-4th-color) !important;
  border-color: var(--my-4th-color) !important;
}
.form-control-disabled {
  background-color: var(--bs-secondary-bg) !important;
  opacity: 1;
}
.form-control-sm {
  font-size: 0.9rem !important;
}

.dropdown-menu {
  font-size: 0.9rem !important;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: none !important;
  transform: none !important;
}

.modal-header {
  border-radius: 0 !important;
  background-color: var(--my-3th-color) !important;
  color: var(--my-1th-color) !important;
}

.pagination-sm {
  --bs-pagination-font-size: 0.9rem !important;
  --bs-pagination-color: #212529 !important;

  --bs-pagination-hover-color: var(--my-4th-color) !important;
  /*--bs-pagination-hover-border-color: var(--my-3th-color) !important;*/
  
}
.pagination {
  --bs-pagination-disabled-color: var(--my-6th-color) !important;
  --bs-pagination-border-color: var(--my-border-color) !important;
  --bs-pagination-hover-border-color: var(--my-border-color) !important;
  --bs-pagination-disabled-border-color: var(--my-border-color) !important;
}
.active > .page-link {
  background-color: var(--my-3th-color) !important;
  border-color: var(--my-border-color) !important;
  cursor: default;
}

.page-link {
  cursor: pointer;
  transition: 0.3s !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.secondary-text {
  font-size: 0.8rem;
  color: var(--my-6th-color) !important;
}
.margin-dropdown {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
